.input_field{
  height: 150px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input_field>input{
  border: 1px solid gray;
  padding: 20px 30px;
  width: 500px;
  border-radius: 7px;
}

.input_field>button {
  padding: 20px 30px;
  border: 0;
  background-color: rgb(27, 95, 184);
  color: white;
  font-weight: 700;
  border-radius: 7px;
  cursor: pointer;
}

.notelist_container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 70%;
  margin: 0 auto;
}