.input_field{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.input_field>input{
  border: 1px solid gray;
  padding: 20px 30px;
  width: 500px;
  border-radius: 7px;
}

.button_container>button {
  padding: 10px 20px;
  border: 0;
  background-color: rgb(27, 95, 184);
  color: white;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  width: fit-content;
}

.notelist_container{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 70%;
  margin: 50px auto 0 auto;
}

.take_a_note {

  border: 1px solid gray;
  padding: 5px 30px;
  width: 500px;
  border-radius: 7px;
  font-weight: 500;
  color: gray;
  cursor: text;
}

.create_note_container{
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 7px;
}

.create_note_container>input{
  outline: 0;
  border: 0;
  padding: 20px 30px;
  width: 500px;
  border-radius: 7px;
}

.button_container{
  display: flex;
  justify-content: end;
  padding: 5px;
}